{{- $email := promptStringOnce . "email" "Email address" -}}
encryption = "gpg"
[gpg]
    recipient = "dilawar.s.rajput@gmail.com"
[data]
    email = {{ email | quote }}
[git]
    autoCommit = true
    autoPush = true
