Include /Users/dilawar.s/Work/TCIN/p21-embedded/bin/p21_ssh_config
Include /Users/dilawar.s/.colima/ssh_config

Include /Users/dilawar.s/Work/TCIN/p21-embedded/bin/p21_ssh_config

AddKeysToAgent yes

Host signoz.dog
    Hostname signoz.dognosis.link
    User debian
    IdentityFile ~/.ssh/dognosis-ap-south-1.pem

Host dilawar-in
    Hostname 137.74.42.34
    User debian
    IdentityFile ~/.ssh/id_rsa.pub
