AddKeysToAgent yes

Host signoz.dog
    Hostname signoz.dognosis.link
    User debian
    IdentityFile ~/.ssh/dognosis-ap-south-1.pem

Host gitlab.dognosis
    Hostname gitlab.dognosis.link
    User ec2-user
    IdentityFile ~/.ssh/dognosis-ap-south-1.pem

Host dilawar-in
    Hostname 137.74.42.34
    User debian
    IdentityFile ~/.ssh/id_rsa.pub

Host me.github.com
  Hostname github.com 
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

Host progress.github.com
  Hostname github.com 
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/progress
