if status is-interactive
end

set -g fish_key_bindings fish_vi_key_bindings

# Commands to run in interactive sessions can go here
alias vim="nvim"
alias v="nvim"
set -Ux EDITOR nvim

fish_add_path -g ~/.local/bin
fish_add_path -g ~/.cargo/bin
fish_add_path -g ~/Scripts/

fish_ssh_agent

{{- if eq .chezmoi.os "linux" }}
if test -z (pgrep ssh-agent)
  eval (ssh-agent -c)
  set -Ux SSH_AUTH_SOCK $SSH_AUTH_SOCK
  set -Ux SSH_AGENT_PID $SSH_AGENT_PID
  set -Ux SSH_AUTH_SOCK $SSH_AUTH_SOCK
end
{{- end }}

# 
# This takes a long time to load, so I have it in a separate file that I can source when needed
#
# source ~/.config/fish/env.tcin-aws.fish

source .env.personal

starship completions fish | source
