if status is-interactive
end

set -g fish_key_bindings fish_vi_key_bindings

# Commands to run in interactive sessions can go here
alias vim="nvim"
alias v="nvim"
set -Ux EDITOR nvim

fish_add_path -g ~/.local/bin
fish_add_path -g ~/.cargo/bin
fish_add_path -g ~/Scripts/
fish_add_path -g /opt/fil/bin

# ssh agent
fish_ssh_agent

# os specific settings
{{- if eq .chezmoi.os "darwin" -}}
fish_add_path -g /opt/homebrew/bin
{{- else if eq .chezmoi.os "linux" -}}
set -Ux PERL5LIB /usr/lib/obs-build
{{- else -}}
# nothing here
{{- end -}}


# source personal file
source ~/.config/fish/.env.personal

# starship
starship completions fish | source
